<div class="sparettop"></div>
<div class="tabcab">
    <div class="container">
        <div class="tabcabitem"> <span style="font-weight:bold">Notifications</span> </div>
    </div>
</div>

<!--start services area-->
<section id="product-list-section" class="profile-page bg-light-gray">
    <div class="container pt-3">
        <div class="section-purcels lefprolist card">
            <div class="notificationlist">
                <ul>
                    <li>
                        <div class="notfi-circle"><i class="fas fa-bell"></i></div>
                        <div class="notifi-text">
                            <p class="m-0"><span class="teme-color">Glen Johnson</span> lorem Ipsum is simply dummy text
                                of the printing and typesetting industry.</p>
                            <span>Aug 20, 2020 - 4:50 PM</span>
                        </div>
                        <a href="#" class="deletebtn"><i class="icofont-ui-delete"></i></a>
                    </li>
                    <li>
                        <div class="notfi-circle"><i class="fas fa-bell"></i></div>
                        <div class="notifi-text">
                            <p class="m-0"><span class="teme-color">Glen Johnson</span> lorem Ipsum is simply dummy text
                                of the printing and typesetting industry.</p>
                            <span>Aug 20, 2020 - 4:50 PM</span>
                        </div>
                        <a href="#" class="deletebtn"><i class="icofont-ui-delete"></i></a>
                    </li>
                    <li>
                        <div class="notfi-circle"><i class="fas fa-bell"></i></div>
                        <div class="notifi-text">
                            <p class="m-0"><span class="teme-color">Glen Johnson</span> lorem Ipsum is simply dummy text
                                of the printing and typesetting industry.</p>
                            <span>Aug 20, 2020 - 4:50 PM</span>
                        </div>
                        <a href="#" class="deletebtn"><i class="icofont-ui-delete"></i></a>
                    </li>
                    <li>
                        <div class="notfi-circle"><i class="fas fa-bell"></i></div>
                        <div class="notifi-text">
                            <p class="m-0"><span class="teme-color">Glen Johnson</span> lorem Ipsum is simply dummy text
                                of the printing and typesetting industry.</p>
                            <span>Aug 20, 2020 - 4:50 PM</span>
                        </div>
                        <a href="#" class="deletebtn"><i class="icofont-ui-delete"></i></a>
                    </li>
                    <li>
                        <div class="notfi-circle"><i class="fas fa-bell"></i></div>
                        <div class="notifi-text">
                            <p class="m-0"><span class="teme-color">Glen Johnson</span> lorem Ipsum is simply dummy text
                                of the printing and typesetting industry.</p>
                            <span>Aug 20, 2020 - 4:50 PM</span>
                        </div>
                        <a href="#" class="deletebtn"><i class="icofont-ui-delete"></i></a>
                    </li>
                    <li>
                        <div class="notfi-circle"><i class="fas fa-bell"></i></div>
                        <div class="notifi-text">
                            <p class="m-0"><span class="teme-color">Glen Johnson</span> lorem Ipsum is simply dummy text
                                of the printing and typesetting industry.</p>
                            <span>Aug 20, 2020 - 4:50 PM</span>
                        </div>
                        <a href="#" class="deletebtn"><i class="icofont-ui-delete"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</section>
<!--end servicrs area-->