<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="card ">
      <img class="card-img-top rounded">
      <div style="padding: 10px;" class="card-body text-center">
        <p class="pr-3 card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="form-inline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card ">
      <img class="card-img-top rounded">
      <div style="padding: 10px;" class="card-body text-center">
        <p class="pr-3 card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="form-inline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card ">
      <img class="card-img-top rounded">
      <div style="padding: 10px;" class="card-body text-center">
        <p class="pr-3 card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="form-inline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card ">
      <img class="card-img-top rounded">
      <div style="padding: 10px;" class="card-body text-center">
        <p class="pr-3 card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="form-inline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card ">
      <img class="card-img-top rounded">
      <div style="padding: 10px;" class="card-body text-center">
        <p class="pr-3 card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="form-inline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card ">
      <img class="card-img-top rounded">
      <div style="padding: 10px;" class="card-body text-center">
        <p class="pr-3 card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <div class="form-inline">
        </div>
      </div>
    </div>
  </div>
</div>
