<div class="sparettop"></div>
<div class="tabcab" *ngIf="routeObject">
  <div class="container">
    <div class="tabcabitem innertabcamb" *ngIf="labelData.length>0"> <a
        routerLink="/post-ads">{{labelData[0].Add_post}}</a> / <span>{{labelData[0].Jobs}}</span> /
      <span>{{routeObject.categorytypeName}}</span> / <span>{{routeObject.subCatName}}</span> </div>
  </div>
</div>
<!--start services area-->
<section id="about-area" class="bg-light-gray" *ngIf="labelData.length>0; else dummyHtml">
  <div class="container">
    <div class="row fabric-slider pb-4">
      <div class="col-lg-8 col-md-12">
        <div class="cartlist-conten card cartpay-conten">
          <!-- <h5 class="titlecard">Post Details</h5> -->
          <div class="unlisted-section">
            <div class="tab-logincontent p-0">
              <form id="ajax-contact" [formGroup]="recruiterForm" method="post">
                <div class="row">

                  <div class="form-group col-md-12">
                    <h5 class="titlecard">{{labelData[0].Post_details}}</h5>
                    <textarea type="text" rows="3" class="form-control" name="postDescription"
                      formControlName="postDescription"
                      placeholder="{{labelData[0].Write_post_overview + '...'}}"></textarea>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postDescription'].hasError('required') && (recruiterForm.controls['postDescription'].dirty || recruiterForm.controls['postDescription'].touched)">{{labelData[0].Please_write_post_overview}}</small>
                  </div>

                  <div class="form-group col-md-12 titlecard" style="margin-bottom: 5px;">
                    <h5 class="titlecard">{{labelData[0].Job + ' ' + labelData[0].Location}}<span class="star">*</span>
                    </h5>
                  </div>

                  <div class="form-group col-md-6" *ngIf="cityList.length>0">
                    <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline"
                      placeholder="{{labelData[0].Select_city}}*" labelForId="city" formControlName="jobLocationCity"
                      (change)="onChangeCity($event)" name="cityName">
                      <ng-option *ngFor="let city of cityList" [value]="city.cityID">{{city.cityName}}</ng-option>
                    </ng-select>

                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['jobLocationCity'].hasError('required') && (recruiterForm.controls['jobLocationCity'].dirty || recruiterForm.controls['jobLocationCity'].touched)">{{labelData[0].Please_select_city}}</small>
                  </div>
                  <div class="form-group col-md-6 " *ngIf="locationList">
                    <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline"
                      placeholder="{{labelData[0].Select_area}}*" formControlName="jobLocationArea"
                      (change)="onChangeArea($event)" labelForId="jobLocationArea" name="jobLocationArea">
                      <ng-option *ngFor="let location of locationList" [value]="location.locationID">
                        {{location.locationName}}</ng-option>
                    </ng-select>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['jobLocationArea'].hasError('required') && (recruiterForm.controls['jobLocationArea'].dirty || recruiterForm.controls['jobLocationArea'].touched)">{{labelData[0].Please_select_area}}</small>
                  </div>

                  <div class="form-group col-md-6" style="margin-bottom: 0px; padding-bottom: 0%;">
                    <h5 class="titlecard">{{labelData[0].Interview_Date_optional}}</h5>
                    <div class="form-group">
                      <input type="date" formControlName="getDateObject" class="form-control" id="postotherLastName"
                        [min]=minDate name="getDateObject" placeholder="">
                      <small class="text-danger small"
                        *ngIf="recruiterForm.controls['getDateObject'].hasError('required') && (recruiterForm.controls['getDateObject'].dirty || recruiterForm.controls['getDateObject'].touched || recruiterForm.controls['getDateObject'].pristine)">This
                        Field is Required.</small>
                    </div>
                  </div>
                  <div class="form-group col-md-6" style="margin-bottom: 0px; padding-bottom: 0%;">
                    <h5 class="titlecard">{{labelData[0].Interview_time_optional}}</h5>
                    <div class="form-group">
                      <div class="input-group ">
                        <div class="12hr-example">
                          <input class="form-control" placeholder="00:00" aria-label="12hr format"
                            formControlName="postotherInterviewTime" name="postotherInterviewTime"
                            [ngxTimepicker]="default">
                          <ngx-material-timepicker #default></ngx-material-timepicker>
                        </div>

                      </div>
                      <small class="text-danger small"
                        *ngIf="recruiterForm.controls['postotherInterviewTime'].hasError('required') && (recruiterForm.controls['postotherInterviewTime'].dirty || recruiterForm.controls['postotherInterviewTime'].touched || recruiterForm.controls['postotherInterviewTime'].pristine)">This
                        Field is Required.</small>
                    </div>
                  </div>
                  <div class="form-group col-md-12" style="margin-top: 0%; margin-bottom: 1%;">
                    <h5 class="titlecard">{{labelData[0].Interview_address}}</h5>
                  </div>
                  <div class="form-group col-md-6">
                    <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline"
                      placeholder="{{labelData[0].Select_city}}*" formControlName="AddressCity"
                      (change)="onChangeInterviewAddressCity($event)" labelForId="citydata" name="cityName">
                      <ng-option *ngFor="let city of cityList" [value]="city.cityID">{{city.cityName}}</ng-option>
                    </ng-select>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['AddressCity'].hasError('required') && (recruiterForm.controls['AddressCity'].dirty || recruiterForm.controls['AddressCity'].touched || recruiterForm.controls['AddressCity'].pristine)">This
                      Field Is Required.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline"
                      placeholder="{{labelData[0].Select_zip}}*" formControlName="postotherInterviewzip"
                      labelForId="postotherInterviewzip" name="postotherInterviewzip">
                      <ng-option *ngFor="let zipCode of zipCodeListInterview" [value]="zipCode.zipID">
                        {{zipCode.zipCode}}
                      </ng-option>
                    </ng-select>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewzip'].hasError('required') && (recruiterForm.controls['postotherInterviewzip'].dirty || recruiterForm.controls['postotherInterviewzip'].touched || recruiterForm.controls['postotherInterviewzip'].pristine)">This
                      Field Is Required.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" formControlName="postotherInterviewHouse" class="form-control"
                      id="postotherLastNamee" name="postotherInterviewHouse"
                      placeholder="{{labelData[0].House_flat_no + '*'}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewHouse'].hasError('required') && (recruiterForm.controls['postotherInterviewHouse'].dirty || recruiterForm.controls['postotherInterviewHouse'].touched || recruiterForm.controls['postotherInterviewHouse'].pristine)">This
                      Field Is Required.</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewHouse'].hasError('maxlength')">Input
                      fields will not be more than 150 characters.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" formControlName="postotherInterviewAddressDetail" class="form-control"
                      id="postotherInterviewAddressDetail" name="postotherInterviewAddressDetail"
                      placeholder="{{labelData[0].Address_detail + '*'}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewAddressDetail'].hasError('required') && (recruiterForm.controls['postotherInterviewAddressDetail'].dirty || recruiterForm.controls['postotherInterviewAddressDetail'].touched || recruiterForm.controls['postotherInterviewAddressDetail'].pristine)">This
                      Field Is Required.</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewAddressDetail'].hasError('maxlength')">Input
                      fields will not be more than 150 characters.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="postotherInterviewLandmark"
                      id="postotherInterviewLandmark" name="postotherInterviewLandmark"
                      placeholder="{{labelData[0].Landmark + '*'}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewLandmark'].hasError('required') && (recruiterForm.controls['postotherInterviewLandmark'].dirty || recruiterForm.controls['postotherInterviewLandmark'].touched || recruiterForm.controls['postotherInterviewLandmark'].pristine)">This
                      Field Is Required.</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['postotherInterviewLandmark'].hasError('maxlength')">Input
                      fields will not be more than 150 characters.</small>
                  </div>

                </div>
                <hr>

                <h6 class="titlecard">{{labelData[0].Contact_details}}</h6>
                <div class="row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="organizationName" formControlName="organizationName"
                      name="organizationName" placeholder="{{labelData[0].Organization_name}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['organizationName'].hasError('minlength')">Input
                      fields will not be less than 3 characters.</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['organizationName'].hasError('maxlength')">Input
                      fields will not be more than 60 characters.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="ContactPerson" formControlName="ContactPerson"
                      name="ContactPerson" placeholder="{{labelData[0].Contact_person}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['ContactPerson'].hasError('minlength')">Input
                      fields will not be less than 3 characters.</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['ContactPerson'].hasError('maxlength')">Input
                      fields will not be more than 60 characters.</small>
                  </div>
                  <div class="form-group col-md-6">

                    <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber"
                      name="contactNumber" maxlength="10" pattern="[1-9]{1}[0-9]{9}"
                      placeholder="{{labelData[0].Contact_number + '*'}}">
                    <small class="text-danger small"
                      *ngIf=" recruiterForm.controls['contactNumber'].hasError('required') && (recruiterForm.controls['contactNumber'].dirty || recruiterForm.controls['contactNumber'].touched || recruiterForm.controls['contactNumber'].untouched || recruiterForm.controls['contactNumber'].pristine)">{{labelData[0].Please_enter_contact_number}}</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['contactNumber'].hasError('pattern') && (recruiterForm.controls['contactNumber'].dirty || recruiterForm.controls['contactNumber'].touched)">{{labelData[0].Mobile_Number_must_be_only_10_digit}}</small>

                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="alternateContactNumber" maxlength="10"
                      pattern="[1-9]{1}[0-9]{9}" formControlName="altcontactNumber" name="altcontactNumber"
                      placeholder="{{labelData[0].Alternet_contact_number}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['altcontactNumber'].hasError('pattern') && (recruiterForm.controls['altcontactNumber'].dirty || recruiterForm.controls['altcontactNumber'].touched)">{{labelData[0].Mobile_Number_must_be_only_10_digit}}</small>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="email" name="email" formControlName="email"
                      placeholder="{{labelData[0].Email_id}}">
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['email'].hasError('pattern') && (recruiterForm.controls['email'].dirty || recruiterForm.controls['email'].touched )">{{labelData[0].Please_enter_valid_Email_ID}}</small>
                    <small class="text-danger small"
                      *ngIf="recruiterForm.controls['email'].hasError('required') && (recruiterForm.controls['email'].dirty || recruiterForm.controls['email'].touched || recruiterForm.controls['email'].untouched || recruiterForm.controls['email'].pristine)">{{labelData[0].Please_enter_Email_ID}}</small>
                  </div>
                  <small class="form-group col-md-12 text-danger small"
                    *ngIf="recruiterForm.controls['contactNumber'].hasError('emptyMobile') && recruiterForm.controls['email'].hasError('emptyEmail')">{{labelData[0].You_should_write_Mobile_Number_or_Email_ID}}</small>
                </div>

                <h6 class="titlecard">{{labelData[0].Mode_of_contact}}<span class="star">*</span></h6>
                <div class="chekgroup d-flex">
                  <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" formControlName="modeMobile"
                      (click)="onClickChangeModeMobile($event.target.value)" class="custom-control-input"
                      name="example1" value="Mobile" id="mobile">
                    <label class="custom-control-label cursr" for="mobile">{{labelData[0].Mobile}}</label>
                  </div>
                  <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" formControlName="modeEmail"
                      (click)="onClickChangeModeEmail($event.target.value)" class="custom-control-input" value="Email"
                      name="example2" id="emailid">
                    <label class="custom-control-label cursr" for="emailid">{{labelData[0].Email}}</label>
                  </div>
                  <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" formControlName="modeWalkIn"
                      (click)="onClickChangeModeWalkin($event.target.value)" class="custom-control-input"
                      value="Walk_in" name="example3" id="walk_in">
                    <label class="custom-control-label cursr" for="walk_in">{{labelData[0].Walk_in}}</label>
                  </div>
                </div>
                <small class="text-danger small"
                  *ngIf="recruiterForm.controls['modeMobile'].hasError('notSelectedMobile') && recruiterForm.controls['modeEmail'].hasError('notSelectedEmail') && recruiterForm.controls['modeWalkIn'].hasError('notSelectedWalkIn')">{{labelData[0].Please_select_mode_of_contact}}</small>
                <hr>
                <h6 class="titlecard">{{labelData[0].Upload_images + "(Optional)"}}</h6>
                <div class="upload-img-content">
                  <ul>
                    <li>
                      <label class="customfile">
                        <input type="file" multiple id="mediaFile" #mediaFile (change)="fileAdded($event)">
                        <img class="cursr" src="assets/images/upload_picture_placeholder.png" alt="placeholer"
                          accept="image/*">
                      </label>
                    </li>
                    <span *ngIf="imgURL.length>0">
                      <li *ngFor="let prewiew of imgURL; let i = index">
                        <div class="uploded-img"><span class="close" (click)="onClose(i)">&times;</span> <img
                            [src]="prewiew" alt="">
                        </div>
                      </li>
                    </span>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12" [formGroup]="recruiterForm">

        <div class="cartpay-conten plan-section card mb-3">
          <h5 class="titlecard">{{labelData[0].Select_plan}}<span class="star">*</span></h5>

          <div class="custom-control custom-radio d-flex" *ngFor="let package of packageDetails; let ind = index;">
            <input type="radio" formControlName="packageDetail" class="custom-control-input" id="radiox{{ind}}"
              name="packageDetail" [value]=package required>
            <label class="custom-control-label cursr" for="radiox{{ind}}">
              <p class="mb-0">{{package.packagedetailName | titlecase}} </p>
              <span class="text-muted">1 Buy Post | {{package.packagedetailDays +"days"}}</span>
            </label>
            <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i>
                {{package.packagedetailFees}}</b></div>
          </div>
          <small class="text-danger small"
            *ngIf="recruiterForm.controls['packageDetail'].hasError('required') && (recruiterForm.controls['packageDetail'].dirty || recruiterForm.controls['packageDetail'].touched)">Please
            Select Plan.</small>
          <div class="bunowbutton text-center mb-2">
            <button href="#" (click)="postSpaceAds(recruiterForm.value)"
              class="btn mt-2 d-block login-submit-btn checkout" data-toggle="modal"> <span
                class="position-relative">{{labelData[0].Add_post}}</span></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<ng-template #dummyHtml>
  <section id="about-area" class="bg-light-gray">
    <div class="container">
      <div class="row fabric-slider pb-4">
        <div class="col-lg-8 col-md-12">
          <div class="cartlist-conten card cartpay-conten">
            <!-- <h5 class="titlecard">Post Details</h5> -->
            <div class="unlisted-section">
              <div class="tab-logincontent p-0">
                <form id="ajax-contact" method="post">
                  <div class="row">

                    <div class="form-group col-md-12">
                      <h5 class="titlecard"></h5>
                      <textarea type="text" rows="3" class="form-control" name="postDescription"
                        placeholder=""></textarea>
                    </div>

                    <div class="form-group col-md-12 titlecard">
                      <h5 class="titlecard"></h5>
                    </div>

                    <div class="form-group col-md-6 ">
                      <select class="cursr" name="jobLocationCity" class="form-control custom-dropdown cursr">
                        <option value="" disabled selected></option>
                        <option>
                        </option>

                      </select>
                    </div>
                    <div class="form-group col-md-6 ">
                      <select name="jobLocationArea" class="" class="form-control custom-dropdown cursr">
                        <option value="" disabled selected></option>
                        <option>
                        </option>

                      </select>
                    </div>

                    <div class="form-group col-md-6" style="margin-bottom: 0px; padding-bottom: 0%;">
                      <h5 class="titlecard"></h5>
                      <div class="form-group">
                        <input type="date" class="form-control" id="postotherLastNam" name="getDateObject"
                          placeholder="">
                      </div>
                    </div>
                    <div class="form-group col-md-6" style="margin-bottom: 0px; padding-bottom: 0%;">
                      <h5 class="titlecard"></h5>
                      <div class="form-group">
                        <div class="input-group ">
                          <div class="12hr-example">
                            <input class="form-control" placeholder="" aria-label="12hr format"
                              name="postotherInterviewTime">
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-12" style="margin-top: 0%; margin-bottom: 1%;">
                      <h5 class="titlecard"></h5>
                    </div>
                    <div class="form-group col-md-6">
                      <select name="state" class="form-control custom-dropdown cursr">
                        <option value="" disabled selected></option>
                        <option>
                        </option>

                      </select>

                    </div>
                    <div class="form-group col-md-6">
                      <select name="city" class="form-control custom-dropdown cursr">
                        <option value="" disabled selected></option>
                        <option>
                        </option>

                      </select>

                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="postotherLastNames" name="postotherInterviewzip"
                        placeholder="">

                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="postotherLastNameee" name="postotherInterviewHouse"
                        placeholder="">

                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="postotherInterviewAddressDetail"
                        name="postotherInterviewAddressDetail" placeholder="">

                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="postotherInterviewLandmark"
                        name="postotherInterviewLandmark" placeholder="">
                    </div>

                  </div>
                  <hr>

                  <h6 class="titlecard"></h6>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="organizationName" name="organizationName"
                        placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="ContactPerson" name="ContactPerson" placeholder="">
                    </div>
                    <div class="form-group col-md-6">

                      <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="">

                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="alternateContactNumber" name="altcontactNumber"
                        placeholder="">

                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" id="email" name="email" placeholder="">

                    </div>
                  </div>

                  <h6 class="titlecard"></h6>
                  <div class="chekgroup d-flex">
                    <div class="custom-control custom-checkbox pr-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                      <label class="custom-control-label" for="customCheck"></label>
                    </div>
                    <div class="custom-control custom-checkbox pr-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                      <label class="custom-control-label" for="customCheck2"></label>
                    </div>
                  </div>
                  <hr>
                  <h6 class="titlecard"></h6>
                  <div class="upload-img-content">
                    <ul>
                      <li>
                        <label class="customfile">
                          <input type="file" multiple id="mediaFile" #mediaFile>
                          <img class="cursr" src="assets/images/upload_picture_placeholder.png" alt="placeholer"
                            accept="image/*">
                        </label>
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="cartpay-conten plan-section card mb-3">
            <h5 class="titlecard"></h5>

            <div class="custom-control custom-radio d-flex">
              <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
              <label class="custom-control-label" for="customRadio">
                <p class="mb-0"></p>
                <span class="text-muted"></span>
              </label>
              <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i></b></div>
            </div>

            <div class="custom-control custom-radio d-flex">
              <input type="radio" class="custom-control-input" id="customRadio2" name="example1" value="customEx">
              <label class="custom-control-label" for="customRadio2">
                <p class="mb-0"></p>
                <span class="text-muted"></span>
              </label>
              <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i></b></div>
            </div>

            <div class="custom-control custom-radio d-flex">
              <input type="radio" class="custom-control-input" id="customRadio3" name="example1" value="customEx">
              <label class="custom-control-label" for="customRadio3">
                <p class="mb-0"> </p>
                <span class="text-muted"></span>
              </label>
              <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i></b></div>
            </div>

            <div class="bunowbutton text-center mb-2">
              <a href="#" class="btn mt-2 d-block login-submit-btn checkout" data-toggle="modal"
                data-target="#Verification"> <span class="position-relative"></span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="triangle-skew-spin" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
