div{
    text-align:center;
    background:#eee;
 }
 input{
     border: 0;
     outline: 0;
     background: transparent;
     border-bottom: 1px solid black;
     width: 50px;
     text-align:center;
     padding : 5px;
     margin-left:10px;
 }
 button{
   margin-top:20px !important;
   margin: 0 auto;
   color: white;
   border-radius: 4px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }