<!--Reset password  Modal -->
<!-- <div class="modal fade" id="ResetPassword" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
    aria-hidden="true"> -->
<!-- <div class="modal-dialog"> -->
<div class="modal-content" *ngIf="labelData.length>0">
    <div class="modal-header">
        <h4 class="modal-title">{{labelData[0].Reset_password}}</h4>
        <button type="button" class="close" (click)="onClose()" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="tab-logincontent pb-3 pt-0">
            <form id="ajax-contact" [formGroup]="resetForm" method="post"
                (ngSubmit)="onResetPasswordSubmit(resetForm.value)" novalidate="true">
                <div class="form-group inputWithIcon">
                    <input type="password" [type]=" hide ? 'password' : 'text' " class="form-control" name="newPassword"
                        formControlName="newPassword" (keydown.space)="$event.preventDefault()" id="newPassword"
                        name="newPassword" placeholder="{{labelData[0].New_password}}" required>
                    <a class="cursr" (click)="myFunction()"><i class="fas "
                            [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"></i></a>
                    <small class="text-danger small"
                        *ngIf="resetForm.controls['newPassword'].hasError('required') && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">{{labelData[0].Please_enter_new_password}}</small>
                    <small class="text-danger small"
                        *ngIf="resetForm.controls['newPassword'].hasError('minlength')">{{labelData[0].New_password_must_contain_4_to_16_character}}</small>
                    <small class="text-danger small"
                        *ngIf="resetForm.controls['newPassword'].hasError('maxlength')">{{labelData[0].New_password_must_contain_4_to_16_character}}</small>
                    <!-- <small class="text-danger small"
                        *ngIf="resetForm.controls['newPassword'].hasError('pattern') && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">Password
                        needs to be at least eight characters, one uppercase letter and one number.</small> -->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="reEnterNewPassword"
                        formControlName="reEnterNewPassword" id="reEnterNewPassword" name="reEnterNewPassword"
                        placeholder="{{labelData[0].Re_enter_New_Password}}" required>
                    <small class="text-danger small"
                        *ngIf="resetForm.controls['reEnterNewPassword'].hasError('required') && (resetForm.controls['reEnterNewPassword'].dirty || resetForm.controls['reEnterNewPassword'].touched)">{{labelData[0].Please_enter_Re_enter_new_password}}</small>
                    <!-- <small class="text-danger"
                        *ngIf="resetForm.controls['employeeReEnteredNewPassword'].hasError('pattern') && (resetForm.controls['employeeReEnteredNewPassword'].dirty || resetForm.controls['employeeReEnteredNewPassword'].touched)">Password
                        needs to be at least eight characters, one uppercase letter and one number.</small> -->
                    <small class="text-danger small"
                        *ngIf="resetForm.controls['reEnterNewPassword'].hasError('confirmedValidator')">{{labelData[0].Re_enter_Password_is_not_match}}</small>
                </div>
                <div class="text-center">
                    <button class="btn login-submit-btn" [disabled]="resetForm.invalid" id="myForm" type="submit">
                        {{labelData[0].Reset}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->