<!--Forgot password  Modal -->
<!-- <div class="modal fade" id="Forgot" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true"> -->
<!-- <div class="modal-dialog"> -->
<div class="modal-content" *ngIf="labelData.length>0">
    <div class="modal-header">
        <h4 class="modal-title">{{labelData[0].Forgot_password + "?"}}</h4>
        <button type="button" class="close" (click)="onClose()" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="tab-logincontent pb-3 pt-0">
            <p>{{labelData[0].Enter_your_registered_email_or_mobile_number_to_reset_the_password}}</p>
            <form id="ajax-contact" [formGroup]="forgetForm" method="post"
                (ngSubmit)="onSubmitEmailOrMobile(forgetForm.value)" novalidate="true">
                <div class="form-group position-relative has-error has-danger">
                    <input type="text" class="form-control" formControlName="email" id="emailORMobileNumber"
                        name="emailORMobileNumber" placeholder="{{labelData[0].Email_mobile_number}}" required>
                    <small class="text-danger small"
                        *ngIf="forgetForm.controls['email'].hasError('required') && (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">{{labelData[0].Please_enter_email_mobile}}</small>
                    <small class="text-danger small"
                        *ngIf="forgetForm.controls['email'].hasError('pattern') && (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">{{labelData[0].Please_enter_valid_email_mobil_number}}</small>
                </div>
                <div class="text-center">
                    <button class="btn login-submit-btn" [disabled]="forgetForm.invalid" id="myForm" type="submit"
                        data-toggle="modal">{{labelData[0].Send_OTP}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->