<div class="cartlist-conten card cartpay-conten">
  <h5 class="titlecard"></h5>
  <hr class="mt-0">
  <div class="profile-saved">
    <div class="d-flex">
      <div class="leftsubscr">
        <div style="padding: 10px;" class="card-body text-center">
          <p class="pr-3 card-text" style="width: 130px;"></p>
          <p class="pr-3 card-text" style="width: 130px;"></p>
          <p class="pr-3 card-text" style="width: 130px;"></p>
          <p class="pr-3 card-text" style="width: 130px;"></p>
        </div>
      </div>
      <div class="leftsubscr ml-auto">
        <div style="padding: 10px;" class="card-body text-center">
          <p class="pr-3 card-text" style="width: 130px;"></p>
          <p class="pr-3 card-text" style="width: 130px;"></p>
          <p class="pr-3 card-text" style="width: 130px;"></p>
          <p class="pr-3 card-text" style="width: 130px;"></p>
        </div>
      </div>
    </div>
  </div>
</div>
