<div class="sparettop"></div>
<div class="tabcab">
    <div class="container">
        <div class="tabcabitem"> <span>Payment</span> </div>
    </div>
</div>

<!--start services area-->
<section id="about-area" class="bg-light-gray">
    <div class="container">
        <div class="row fabric-slider pb-4">
            <div class="col-lg-8 col-md-12">
                <div class="accordion-section card cartpay-conten p-0">
                    <div id="accordion" role="tablist" class="pr-0">
                        <div class="card two mb-0">
                            <div class="card-header active" role="tab" id="faq1">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse1" aria-expanded="false"
                                        aria-controls="collapse1" class="">Saved Cards</a>
                                </h5>
                            </div>
                            <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="faq1"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    <form>
                                        <div class="custom-control custom-radio savedcard-radio pb-3">
                                            <input type="radio" class="custom-control-input" id="customRadio"
                                                name="example1" checked="checked">
                                            <label class="custom-control-label d-flex align-items-center"
                                                for="customRadio">
                                                <div class="savedcard-img"><img src="assets/images/visa_icon.png"
                                                        alt=""></div>
                                                <div class="card-content">
                                                    <h5 class="mb-0">HDFC</h5>
                                                    <p class="mb-0">xxxx xxxx xxxx 9878</p>
                                                </div>
                                                <input type="text" class="form-control" placeholder="CVV">
                                            </label>
                                        </div>

                                        <div class="custom-control custom-radio savedcard-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio2"
                                                name="example1" value="customEx">
                                            <label class="custom-control-label d-flex align-items-center"
                                                for="customRadio2">
                                                <div class="savedcard-img"><img
                                                        src="assets/images/master_card _icon.png" alt=""></div>
                                                <div class="card-content">
                                                    <h5 class="mb-0">SBI</h5>
                                                    <p class="mb-0">xxxx xxxx xxxx 4523</p>
                                                </div>
                                                <input type="text" class="form-control" placeholder="CVV">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card two mb-0">
                            <div class="card-header" role="tab" id="faq2">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse2" aria-expanded="false"
                                        aria-controls="collapse2">Add Credit/ Debit Card</a>
                                </h5>
                            </div>
                            <div id="collapse2" class="collapse show" role="tabpanel" aria-labelledby="faq2"
                                data-parent="#accordion" style="">
                                <div class="card-body tab-logincontent">
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" id="area" name="area"
                                                    placeholder="Card Number">
                                            </div>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" id="area" name="area"
                                                    placeholder="Card Holder Name">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" id="area" name="area"
                                                    placeholder="Valid Till (MM/YY)">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <input type="text" class="form-control" id="area" name="area"
                                                    placeholder="CVV">
                                            </div>
                                        </div>
                                        <div class="chekgroup">
                                            <div class="custom-control custom-checkbox pr-3">
                                                <input type="checkbox" class="custom-control-input" id="customCheck"
                                                    name="example1">
                                                <label class="custom-control-label" for="customCheck"> Save details for
                                                    future transactions</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card two mb-0">
                            <div class="card-header" role="tab" id="faq3">
                                <h5 class="mb-0">
                                    <a class="" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                                        aria-controls="collapse3">Net Banking</a>
                                </h5>
                            </div>
                            <div id="collapse3" class="collapse show" role="tabpanel" aria-labelledby="faq3"
                                data-parent="#accordion">
                                <div class="card-body tab-logincontent">
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-md-8">
                                                <select class="form-control custom-dropdown">
                                                    <option value="">Select Bank for Net Banking</option>
                                                    <option value="HDFC">HDFC</option>
                                                    <option value="SBI">SBI</option>
                                                    <option value="ICICI">ICICI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="cartpay-conten card mb-3">
                    <h5 class="titlecard">Bill Details</h5>
                    <div class="custom-control custom-radio d-flex">
                        <input type="radio" class="custom-control-input" id="customRadio_2" name="example_1"
                            checked="checked">
                        <label class="custom-control-label" for="customRadio_2">
                            <p class="mb-0">Gold </p>
                            <span class="text-muted">1 Buy Post | 70 Days</span>
                        </label>
                        <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i> 14,000</b> <br><a href="#"
                                data-toggle="modal" data-target="#ChangeBilling">Change</a></div>
                    </div>
                    <hr>
                    <div class="d-flex amountitem">
                        <div class="leftpay">Plan Charge </div>
                        <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i> 14,000</b></div>
                    </div>
                    <div class="d-flex amountitem">
                        <div class="leftpay">GST (5%)</div>
                        <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i> 700</b></div>
                    </div>
                    <hr>
                    <div class="d-flex amountitem">
                        <div class="leftpay"><b>Total</b></div>
                        <div class="rightpay ml-auto"><b><i class="fas fa-rupee-sign"></i> 14,700</b></div>
                    </div>
                    <div class="bunowbutton text-center mb-2 pt-2">
                        <a class="btn mt-2 d-block login-submit-btn checkout" data-toggle="modal"> <span
                                class="position-relative">Confirm & Pay</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--end servicrs area-->