<div class="sparettop"></div>
<div class="tabcab" *ngIf="spacesDetailsData">
  <div class="container">
    <div class="tabcabitem innertabcamb">
      <span>Review-Ad</span></div>
  </div>
</div>

<!--start services area-->
<section id="about-area" class="bg-light-gray" *ngIf="spacesDetailsData">
  <div class="container">
    <div class="row fabric-slider pb-4">
      <div class="col-lg-12 col-md-12">
        <div class="hotel-detals-content cartpay-conten card">
          <div class="imageslider" *ngIf="imageUrlArr.length>0 ; else defaultImg">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide *ngFor="let image of imageUrlArr; let id = index" [id]="id">
                <div class="image-items"><img [src]="image" (error)="handleImgError($event, id)" alt="hotel"></div>
              </ng-template>
            </owl-carousel-o>
          </div>
          <ng-template #defaultImg>
            <div class="imageslider">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let image of defaultImageUrl; let i = index" [id]="i">
                  <div class="image-items"><img [src]="image" alt="hotel"></div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </ng-template>
          <div class="detailcontent">
            <div class="d-flex">
              <p><span style="font-weight:bold">Ad
                  Id:{{' '+ spacesDetailsData.categoryName +''+  spacesDetailsData.postID}}</span></p>
              <div class="favcontent ml-auto">
                <a class="favorite favorited position-relative" href="javascript:voild(0)"><i
                    class="fas fa-heart"></i></a>
                <span class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                      class="fas fa-ellipsis-v"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Report Ad</a>
                  </div>
                </span>
              </div>
            </div>
            <h4 class="mb-0" *ngIf="spacesDetailsData.postModeOfContact === 'Walkin'">
              {{spacesDetailsData.postModeOfContact}}</h4>
            <p *ngIf="spacesDetailsData.postDescription">{{spacesDetailsData.postDescription + "."}}</p>

            <div class="mb-3"
              *ngIf="spacesDetailsData.postotherInterviewCity || spacesDetailsData.postotherInterviewState">
              <a href="#"><i class="fa fa-map-marker fa-lg" style="color: black;" aria-hidden="true"></i></a>&nbsp;
              {{spacesDetailsData.postotherInterviewCity}}
            </div>

            <div class="mb-3" *ngIf="spacesDetailsData.postotherInterviewTime"><a href="#"><i class="fas fa-clock fa-lg"
                  style="color: black;"></i></a>&nbsp;
              {{spacesDetailsData.interviewtime}}
            </div>

            <div class="mb-3" *ngIf="spacesDetailsData.postotherInterviewDate"><a href="#"><i
                  class="fa fa-calendar fa-lg" style="color: black;" aria-hidden="true"></i></a>&nbsp;
              {{spacesDetailsData.postotherInterviewDate | date}}</div>
            <br>
            <div class="col-sm-12" *ngIf="spacesDetailsData.postModeOfContact === 'Walkin'">
              <h5>Interview Address: </h5>
            </div>
            <div class="col-sm-12" *ngIf="spacesDetailsData.postModeOfContact === 'Walkin'">
              <p>
                {{(spacesDetailsData.postotherInterviewHouse | titlecase) + ", " + (spacesDetailsData.postotherInterviewAddressDetail | titlecase) + ", " + (spacesDetailsData.postotherInterviewLandmark | titlecase) + ", " + (spacesDetailsData.postotherInterviewCity | titlecase) + " - " + (spacesDetailsData.postotherInterviewzip | titlecase)}}
              </p>
            </div>
            <hr>
            <div class="posteby">
              <h6 *ngIf="spacesDetailsData.postotherOragnisation || spacesDetailsData.postotherContactPerson">
                Posted By:</h6>
              <p *ngIf="spacesDetailsData.postotherOragnisation">
                {{spacesDetailsData.postotherOragnisation | titlecase}}
                <br><span
                  *ngIf="spacesDetailsData.postotherContactPerson">{{spacesDetailsData.postotherContactPerson | titlecase}}</span>
              </p>
              <p class="mb-0" *ngIf="spacesDetailsData.postMobile"><a
                  href="tel:+91 1245784578">{{spacesDetailsData.postMobileVerified.length === 3 ? ("+91" + " " + spacesDetailsData.postMobile) : ''}}</a>
              </p>
              <p class="mb-0" *ngIf="spacesDetailsData.postAlternateNo"><a
                  href="tel:+91 4578457823">{{ spacesDetailsData.postAlternateNoVerified.length === 3 ? ("+91" + " " + spacesDetailsData.postAlternateNo) : ''}}</a>
              </p>
              <p class="mb-0"><a href="mailto:mihir@gmail.com"
                  *ngIf="spacesDetailsData.postEmail">{{spacesDetailsData.postEmailVerified.length === 3 ? spacesDetailsData.postEmail : ''}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary " (click)="openConfirmationPopUp(spacesDetailsData)"
          style="width: 250px;">Confirm &
          Pay</button>
      </div>
    </div>
  </div>
</section>
<!--end servicrs area-->
